.showing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.padContainer{
    background-image: url("../../images/notepad.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
    width: 450px;
    height: 600px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.padTitle {
    margin-top: 30px;
    color: #7a695e;
    
    
}

.padDescription{
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    
    
}


.cinta1{
    position: absolute;
    width: 100px;
    top:1%;
    left:37%;
}

.cinta2{
    position: absolute;
    width: 100px;
    top:5%;
    left:57%; 
    transform: rotate(35deg) 
}

.padImage {
    width: 200px;
    margin: auto;
    height: 100%;
    max-height: 170px;
    border-radius: 8px;
}

.padDetail{
    text-align: left;
    padding-left: 20px;
    width: 400px;
    margin-top: 0px;
}
.padSubtitle{
    margin: 0 0;
    font-weight: bold;
    color: rgb(99, 99, 99)
}

.padData {
    margin: 3px 0 20px;
}