
.container{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.cardContainer {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 1px solid grey;
    border-radius:8px;
    padding: 25px;
    backface-visibility: hidden;
    transform: translateZ(0);
    text-align: center;
    width: 400px;
    max-width: 400px;
    margin-left: 50px;
    margin-top: 60px;

}
.image {
    max-height: 250px;
    width: 200px;
    margin: auto;
}

.form{
    margin-top: 80px;
    width: 600px;
    margin-right: 50px;
    border: 1px solid grey;
    border-radius: 8px;
}

.form label {
    font-weight: 600;
}


.dataSingle{
    height: 70px;
}
.soloInput{
    width: 205px;
    border-radius: 5px;
    text-align: center;
}
.error{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: smaller;
    margin-top: 3px;
}



.dataDouble{
    height: 70px;
    
}
.doubleInputLeft{
    display: inline;
    border-radius: 5px;
    width: 80px;
    margin-right: 20px;
    
}
.doubleInputRight{
    display: inline;
    border-radius: 5px;
    width: 80px;
    margin-left: 20px;
    
}
.errorContainer{
    position: relative;
}
.errorsLeft{
    position: absolute;
    display: inline-block;
    right: 320px;
    
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    padding: 3px;
    width: fit-content;
    
}
.errorsRight{
    position: absolute;
    display: inline-block;
    left: 320px;
    justify-content: center;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    padding: 3px;
    width: fit-content;
    
}
.errors{
    display: inline;
    justify-content: center;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    padding: 10px;
    width: fit-content;
    
}

.tempDiv{
    height: 50px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.tempSpan{
    display: block;
    scale: 0.7;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.tempSelect{
    
    margin-left: auto auto;
    padding-top: 0;
    width: 150px;
    height: 55px;
}

.submit {
    padding: 5px;
    font-size: 15px;
    border-radius: 0.5em;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.55);
    cursor: pointer;
    transition: 0.3s;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 80px;
}
.padContainer{
    background-image: url("../../images/notepad.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
    border-radius: 0px 0px 25px 25px;
    width: 450px;
    height: 550px;
    margin-bottom: 50px;
    margin-top: 140px;
}

.padTitle {
    width: 310px;
    margin: 30px auto auto auto;
    color: #7a695e;
    font-family: 'Nanum Pen Script', cursive;
    font-size: xx-large;
    scale: 1.4;   
    
}

.padDescription{
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    
    
}


.cinta1{
    position: absolute;
    width: 100px;
    top:1%;
    left:39%;
}

.cinta2{
    position: absolute;
    width: 100px;
    top:5%;
    left:57%; 
    transform: rotate(35deg) 
}

.padImage {
    width: 200px;
    margin: auto;
    height: 100%;
    max-height: 200px;
    border-radius: 8px;
}

.padDetail{
    text-align: left;
    padding-left: 20px;
    width: 400px;
    margin-top: 0px;
    font-size: 15px;
}
.padSubtitle{
    margin: 0 0;
    font-weight: bold;
    color: rgb(99, 99, 99)
}

.padData {
    margin: 3px 0 20px;
}