

.padContainer{
    background-image: url("../../images/notepad2.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    border-radius: 0 0 10px 10px;
    width: 100%;
    max-width: 280px;
    height: 500px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 0px;
    transition: 0.3s;
}
.padContainer:hover{
    scale: 1.05;
}

.padTitle {
    margin-top: 30px;
    color: #7a695e;
    font-family: 'Nanum Pen Script', cursive;
    font-size: xx-large;
    margin-bottom: 5px;
    
    
}

.padDescription{
    position: relative;
    margin-top: 10px;
    padding-top: 20px;
    
    
}


.cinta1{
    position: absolute;
    width: 100px;
    top:1%;
    left:32%;
}

.cinta2{
    position: absolute;
    width: 100px;
    top:7%;
    left:61%; 
    transform: rotate(35deg) 
}

.padImage {
    width: 200px;
    margin: auto;
    height: 100%;
    max-height: 200px;
    border-radius: 8px;
}

.padDetail{
    text-align: left;
    padding-left: 20px;
    width: 240px;
    margin-top: 8px;
    font-size: 14px;

    
}
.padSubtitle{
    margin: 0 0;
    font-weight: bold;
    color: rgb(99, 99, 99);
}

.padData {
    margin: 3px 0 20px;
}