body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg,#f3deba 0%, #abc4aa 30%);
    text-align: center;

    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Ubuntu', sans-serif; */

}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
    width: 90%;
    height: 100%;
}

.general{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sortTitle {
    
    margin-top: 40px;
    color: black;
    font-family: 'Nanum Pen Script', cursive;
    font-size: xx-large;
    margin-bottom: 5px;
    margin-right: 100px;
    
}

.filters{
    background-image: url("../../images/POSTIT2.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 270px;
    padding-right: 38px;
    padding-left: 15px;
    padding-bottom: 60px;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 10px;

    
}

.group{
    display: flex;
    flex-direction: row;
    padding-bottom: 7px;
    align-items: center;

}

.group label{
    font-family: 'Nanum Pen Script', cursive;
    font-size: larger;
    padding-right: 0px;
    width: 100px;
    text-align: left;
    
}

.group select{
    font-family: 'Nanum Pen Script', cursive;
    font-size: larger;
    width: 100px;
    border-radius: 5px;
    background-color: beige;
    
}


.showing{
    width: 100%;
    margin-left: 260px;
    padding-top: 20px;
    padding-left: 15px;
    
}


.button_container {
    position: fixed;
    margin-top: 230px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    width: 100px;
    padding: 0;
 
 }
 
 .button_container:hover {
    scale: 1.1;
 }

 .button{
    width: 120px;
 }