
  .landingPage {
    position: relative;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .backgroundImage {
    margin: auto auto;
    top: 0;
    left: 0;
    width: 75%;
    height: 90%;
    background-image: url('../../images/placeholder.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  .group{
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: RGBA(0,0,0,0.3);
    width: 600px;
  }
  .title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: rgb(52, 14, 14);
  }
  
  .button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 49%;
    left: 52%;
    
    cursor: pointer;
  }
  .button:hover {
    scale: 1.5;
    transition: 0.25s;
  }

  .logo{
    border: none;
    width: 180px;
  }
  